.ProseMirror:focus, .ProseMirror-focused {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.ProseMirror {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent;
} 